global
        log /dev/log   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        user haproxy
        group haproxy
        daemon
 
defaults
        log     global
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        maxconn 2000
        contimeout     5000
        clitimeout     50000
        srvtimeout     50000
	mode http #define o modo de funcionamento do balanceador(1)
 
listen webfarm 
	bind 192.168.1.9:80 #apenas escuta neste IP do balanceador, e no porto 80
	stats enable	#activa as estatisticas do serviço (2)
	stats auth admin:admin	#autenticação nas estatisticas 
	acl url_test_dev path_beg /test.dev	#definição da acl
	use_backend testdev if url_test_dev	#associar a acl a um grupo de servers
 
backend testdev	#define a farm de servers backend para o site test.dev
	balance roundrobin	#define o algoritmo de balanceamento
	server node1 192.168.0.10:80 check # define o servidor e porto e o parâmetro de Health check
   	server node2 192.168.0.11:80 check # define o servidor e porto e o parâmetro de Health check
